@use '../abstracts/custom_variables' as *;

.custom-container {
  @include make-container(4rem);
  padding-top: 2rem;
}

.custom-header {
  color: $blue-900;
  transition: 0.5s;

  &:hover {
    color: $blue-600;
  }

  &-main:hover {
    transition: 3s;
    scale: 1.2;
  }
}

.custom-header {
  color: $blue-900;
  transition: 0.5s;

  &:hover {
    color: $blue-600;
  }
}

.paragraph {
  margin-left: 0.5rem;
  transition: .5s ease-in-out;

  &-2 {
    margin-left: 1rem;
    transition: 1s ease-in-out;

    &:hover {
      margin-left: 3.5rem;
    }
  }

  &:hover {
    margin-left: 3rem;
  }
}

.sub-heading {
  margin-left: 0.5rem;
}

/* Dashed border */
hr.dashed {
  border-top: 3px dashed #bbb;
}

/* Dotted border */
hr.dotted {
  border-top: 3px dotted #bbb;
}

/* Solid border */
hr.solid {
  border-top: 3px solid #bbb;
}

/* Rounded border */
hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}
