<!-- TODO: Change blogs to HTML for improved SEO -->

<div id="blogs" class="custom-container">

  <h3 class="custom-header">Writing</h3>
  <p class="paragraph">
    <!-- Here lies Creativity, may they rest in peace :&rpar; -->Any and all spelling mistakes attributed to Hermione's distracting beauty :-&rpar;
  </p>


  <div>
    <h3 #AIE class="custom-header mt-5">AI Ethics</h3>

    <hr class="solid">

    <div class='d-flex align-content-stretch justify-content-center flex-wrap'>
      <div *ngFor="let blog of Blogs">
        <div *ngIf="blog.type=='Ethics' && blog.published" class="m-1 flex-item custom-blogs">
          <div>
            <i class="fas fa-robot"></i>
          </div>
          <div>
            <h6>{{blog.heading}}</h6>
            <em>{{blog.date}}</em><br>
            <hr class="dotted">
            <p>
              {{blog.description}}
            </p>
            <hr class="dotted">
            <a class="custom-anchor" href="{{blog.id}}" target="_blank">Explore More</a>
          </div>

      </div>
    </div>

  </div>

  <div>
    <h3 class="custom-header mt-5">Climate Change</h3>

    <hr class="solid">

    <p class="paragraph">Coming soon!</p>

    <!-- <div class='d-flex align-content-stretch justify-content-center flex-wrap'>
      <div *ngFor="let blog of Blogs">
        <div *ngIf="blog.type=='Climate' && blog.published" class="m-1 flex-item custom-blogs">
          <div>
            <i class="fas fa-globe-africa"></i>
          </div>
          <div>
            <h6>{{blog.heading}}</h6>
            <em>{{blog.date}}</em><br>
            <hr class="dotted">
            <p>
              {{blog.description}}
            </p>
            <hr class="dotted">
            <a class="custom-anchor" href="{{blog.id}}">Explore More</a>
          </div>

      </div>
    </div> -->

  </div>

  <div>
    <h3 class="custom-header mt-5">Biotechnology</h3>

    <hr class="solid">

    <p class="paragraph">Coming soon!</p>

    <!-- <div class='d-flex align-content-stretch justify-content-center flex-wrap'>
      <div *ngFor="let blog of Blogs">
        <div *ngIf="blog.type=='HumanAI' && blog.published" class="m-1 flex-item custom-blogs">
          <div>
            <i class="fas fa-globe-africa"></i>
          </div>
          <div>
            <h6>{{blog.heading}}</h6>
            <em>{{blog.date}}</em><br>
            <hr class="dotted">
            <p>
              {{blog.description}}
            </p>
            <hr class="dotted">
            <a class="custom-anchor" href="{{blog.id}}" target="_blank">Explore More</a>
          </div>
      </div>
    </div> -->


  </div>

  <div>
    <h3 class="custom-header mt-5">Space Exploration</h3>

    <hr class="solid">

    <p class="paragraph">Coming soon!</p>

    <!-- <div class='d-flex align-content-stretch justify-content-center flex-wrap'>
      <div *ngFor="let blog of Blogs">
        <div *ngIf="blog.type=='Space' && blog.published" class="m-1 flex-item custom-blogs">
          <div>
            <i class="fas fa-book-reader"></i>
          </div>
          <div>
            <h6>{{blog.heading}}</h6>
            <em>{{blog.date}}</em><br>
            <hr class="dotted">
            <p>
              {{blog.description}}
            </p>
            <hr class="dotted">
            <a class="custom-anchor" href="{{blog.id}}" target="_blank">Explore More</a>
          </div>

      </div>
    </div> -->

  </div>

  <div>
    <h3 class="custom-header mt-5">Personal</h3>

    <hr class="solid">

    <div class='d-flex align-content-stretch justify-content-center flex-wrap'>
      <div *ngFor="let blog of Blogs">
        <div *ngIf="blog.type=='Personal' && blog.published" class="m-1 flex-item custom-blogs">
          <div>
            <i class="fas fa-book-reader"></i>
          </div>
          <div>
            <h6>{{blog.heading}}</h6>
            <em>{{blog.date}}</em><br>
            <hr class="dotted">
            <p>
              {{blog.description}}
            </p>
            <hr class="dotted">
            <a class="custom-anchor" href="{{blog.id}}" target="_blank">Explore More</a>
          </div>

      </div>
    </div>
  </div>
</div>
