<h2>Blogs by Anri</h2>

<div>
  <h3>AI Ethics</h3>
  <p>These are a few blogs on AI ethics</p>
</div>

<div>
  <h3>Climate Change</h3>
  <p>This is how AI could contribute to protecting out climate: GANS</p>
</div>

<div>
  <h3>Virtual Education</h3>
  <p>The direction metaverse could go: put a harvard in every pocket, college will be useless</p>
  <br>
  <h3>Neuralink and school</h3>
  <p>How much will school be needed if everything could be downloaded?</p>
</div>

<div>
  <h3>Space Exploration</h3>
  <p>AI and rockets</p>
</div>

<div>
  <h3>Books</h3>
  <p>Interesting reviews on good books</p>
</div>
