<!-- TODO: create an ngfor -->

<div id="blogs" class="custom-container">
  <!-- <h1><i class="fa fa-book fa-sm"></i> Blogs by Anri</h1> -->

  <div>
    <h3 class="custom-header">AI Ethics</h3>
    <p>These are a few blogs on AI ethics</p>
  </div>

  <div>
    <h3 class="custom-header">Climate Change</h3>
    <p>This is how AI could contribute to protecting out climate: GANS</p>
  </div>

  <div>
    <h3 class="custom-header">Virtual Education</h3>
    <p>The direction metaverse could go: put a harvard in every pocket, college will be useless</p>
    <br>
    <h3 class="custom-header">Neuralink and school</h3>
    <p>How much will school be needed if everything could be downloaded?</p>
  </div>

  <div>
    <h3 class="custom-header">Space Exploration</h3>
    <p>AI and rockets</p>
  </div>

  <div>
    <h3 class="custom-header">Books</h3>
    <p>Interesting reviews on good books</p>
  </div>

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link">Previous</a>
      </li>
      <li class="page-item active"><a class="page-link" href="#">1</a></li>
      <li class="page-item active"><a class="page-link" href="#">2</a></li>
      <li class="page-item active"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>
</div>
