<div class="custom-container">
  <div class="row justify-content-md-center">

    <h2>About Anri</h2>

    <div>
      <h3>Background</h3>
      <p>This is some stories about where I come from</p>
    </div>
    <div>
      <h3>Experience</h3>
      <p>Research</p>
      <p>Certificates and courses</p>
      <p>Programming lanuages and frameworks</p>
    </div>
    <div>
      <h3>Working on</h3>
      <p>My interests are in AI Ethics, Climate Change, Virtual Education, and Space Exploration.<br>
      These are tough topics worth working on.</p>
    </div>

  </div>
</div>
