@use '../scss/abstracts/custom_variables' as *;
@use '../scss/components/layout' as layout;

.custom-header {
  color: $blue-900;
  transition: 0.5s;

  &:hover {
    color: $blue-600;
  }
}

.paragraph {
  margin-left: 1rem;
  transition: .5s ease-in-out;

  &:hover {
    margin-left: 3rem;
  }
}
