<div id="about" class="custom-container">
  <div class="row justify-content-md-center">

    <h1>About Anri</h1>

    <div>
      <h3 class="custom-header">Background</h3>
      <p>This is some stories about where I come from</p>
    </div>
    <div>
      <h3 class="custom-header">Experience</h3>
      <p>Research</p>
      <p>Certificates and courses</p>
      <p>Programming lanuages and frameworks</p>
    </div>
    <div>
      <h3 class="custom-header">Working on</h3>
      <p>My interests are in AI Ethics, Climate Change, Virtual Education, and Space Exploration.<br>
      These are tough topics worth working on.</p>
    </div>

  </div>
</div>
