<div id="about" class="custom-container">
  <div class="row justify-content-md-center">

    <!-- <div *ngIf="real===true">

      <h1>About Real Anri</h1>
    </div> -->


    <div>
      <h3 class="custom-header">Background</h3>
      <p class="paragraph">I'm Anri, a former Plutonian that moved to Mars when my planet became an asteroid &lpar;Permission granted
        by Elon Musk&rpar;.
      </p>
      <p class="paragraph">
        I also happen to be a blond boy living between Capetonians during a human week and have fun talking
        to smart people at the University of Cape Town.
      </p>
    </div>

    <hr class="solid">

    <div class="mt-4">
      <h3 class="custom-header">Experience</h3>
      <div>
        <h4 class="sub-heading">Research</h4>
        <p class="paragraph">I joined the Knowledge Representation and Reasoning department under Tommie Meyer as a freshman.
        </p>
        <p class="paragraph">
          KRR is a research group based in Computer Science at the University of Cape Town. The group works on various
          aspects of Knowledge Representation and Reasoning. At present our focus is on belief change, defeasible
          reasoning, and other forms of non-monotonic and non-classical reasoning.
        </p>
      </div>
    </div>

    <hr class="solid">

    <div class="mt-4">
      <div>
        <h3>Relevant Certificates and courses</h3>
        <p class="paragraph">Yes, this is my version of a misspent youth :-)</p>
        <p class="paragraph">
          <a href="https://www.coursera.org/account/accomplishments/certificate/A3MPATJ8TYB7">
            <strong>Machine Learning</strong>
          </a>
          by Standford University
        </p>
        <p class="paragraph">
          <a href="https://www.coursera.org/account/accomplishments/specialization/certificate/PT2AYCUE3XDY">
            <strong>GANS Specialization</strong>
          </a>
           by DeepLearning.AI
        </p>
        <p class="paragraph">
          <a href="https://www.coursera.org/account/accomplishments/specialization/certificate/N3RKPLZN6H2S">
            <strong>Deep Learning Specialization</strong>
          </a>
           by DeepLearning.AI</p>
        <p class="paragraph">
          <a href="https://www.coursera.org/account/accomplishments/specialization/certificate/ZMN9DR7WM9DU">
            <strong>Tensorflow Developer Certificate</strong>
          </a>
           by Deeplearning.AI</p>
        <p class="paragraph">
          <a href="https://www.coursera.org/account/accomplishments/certificate/GBXT8QRUEZEX">
            <strong>AWS Cloud Essentials</strong>
          </a>
           by AWS</p>
        <p class="paragraph">
          <a href="https://www.coursera.org/account/accomplishments/specialization/certificate/YEUCB24L7XFP">
            <strong>Entrepreneurship Specialization</strong>
          </a>
           by Wharton University</p>
        <p class="paragraph">
          <a href="https://www.coursera.org/account/accomplishments/certificate/VFZ3AXJFCQD6">
            <strong>Excel for business</strong>
          </a>
           by Macquarie University</p>
      </div>

      <hr class="solid">

      <div class="mt-4">
        <h4>Programming lanuages and frameworks</h4>
        <strong>Harry in Quidditch</strong>
        <p class="paragraph">
          <em>Languages: </em> Java, python, c++, javascript<br>
          <em>ML Frameworks: </em> Pytorch<br>
          <em>Frontend Frameworks: </em> Angular, Vue<br>
        </p>
        <strong>Ron in making Hermione Jealous</strong>
        <p class="paragraph">
          <em>Languages: </em> Rust, C#<br>
          <em>ML Frameworks: </em> Tensorflow<br>
          <em>Frontend Frameworks: </em> React<br>
        </p>
        <strong>Professor Umbridge</strong>
        <p class="paragraph">
          <em>Languages: </em> Go, SQL<br>
          <em>Backend Frameworks: </em>Node.js<br>
          <em>Gaming Engines: </em> Unity<br>
        </p>
      </div>
    </div>

    <hr class="solid">

    <div class="mt-4">
      <h3 class="custom-header">Working on</h3>
      <p class="paragraph">My interests are in <strong>AI Ethics</strong>, <strong>Climate Change</strong>,
        <strong>Virtual Education</strong>, and <strong>Space Exploration</strong>.<br>
      These are tough topics I suspect are worth working on.</p>
    </div>

  </div>
</div>
