<div id="about" class="custom-container">
  <div class="row justify-content-md-center">

    <!-- <div>
      <h3 class="custom-header">Background</h3>
      <p class="paragraph">
        Anri. Lombard. If those don't ring a bell, I don't exist :&rpar;
        <br><br>
        If they do, I'm a builder and problem-solver, always have been and always will be.
      </p>
    </div>

    <hr class="solid">

    <div class="mt-4">
      <h3 class="custom-header">Experience</h3>
      <p class="paragraph"><strong>March 2002 - present: </strong>Dreaming about helping people</p>
      <p class="paragraph">Not really into advertising myself, so perhaps look at Linkedin if needed.</p>
    </div> -->

    <!-- <img src="/assets/images/about/github.jpg" width="100" height="400" alt="me"> -->
    <div class="project mt-2">
      <div class="project-content container">
        <div class="row">
          <div class="col-12 col-sm">
            <img class="custom-image" src="/assets/images/about/github.jpg" alt="me">
          </div>
          <div class="col-12 col-sm">
            <strong>Name:</strong> Anri Lombard<br>
            <hr class="rounded">
            <strong>Age:</strong> 20<br>
            <hr class="rounded">
            <strong>Gender:</strong> Male<br>
            <hr class="rounded">
            <strong>Earth Inhabitation Point:</strong> Windhoek, Namibia<br>
            <hr class="rounded">
            <strong>Likes:</strong> Computers, Anime, Books, Air Fryers<br>
            <hr class="rounded">
            <strong>Dislikes:</strong> Cooking, Cleaning, Commuting, Coffee<br>
            <hr class="rounded">
            <strong>Head Engineer:</strong> Lex Fridman<br>
            <hr class="rounded">
            <strong>Biological and Aeronautical Chief Engineers:</strong> Andrew Huberman and Elon Musk<br>
            <hr class="rounded">
            <!-- <hr class="dotted"> -->
            <!-- TODO: Blog, website, and github links -->
            <!-- <a [routerLink]="['/routePath', blog]" routerLinkActive="router-link-active" >Blog</a> -->
            <!-- <hr class="dotted" *ngIf="pr.hasGitLink || pr.hasWebLink">
            <a *ngIf="pr.hasGitLink" target="_blank" rel="noopener noreferrer" class="btn btn-outline-dark btn-floating m-1" href="{{pr.gitLink}}" role="button"
            ><i class="fab fa-github"></i></a>
            <a *ngIf="pr.hasWebLink" target="_blank" rel="noopener noreferrer" class="btn btn-outline-dark btn-floating m-1" href="{{pr.webLink}}" role="button"
            ><i class="fa-solid fa-link"></i></a> -->
          </div>
        </div>
      </div>
    </div>

    <hr class="solid">

    <div class="mt-4">
      <div>
        <h3 class="custom-header">Information downloaded independently</h3>
        <!-- <p class="paragraph">
          Learned more in these courses than any $1000 College Course :-&rpar;<br>
          I highly advocate ignoring traditional success measures. They expired, but don't accept it yet - learn<br>
          on your term, as fast as you can. You'll live a better life and be more fufilled.
        </p> -->
        <p class="paragraph">
          <a target="_blank" rel="noopener noreferrer" href="https://www.coursera.org/account/accomplishments/professional-cert/CJ52WZ2MR8B7">
            <strong>Data Science Specialization</strong>
          </a>
          by IBM
        </p>
        <p class="paragraph">
          <a target="_blank" rel="noopener noreferrer" href="https://www.coursera.org/account/accomplishments/specialization/4MWTLHH5FGLT">
            <strong>Applied Data Science Specialization</strong>
          </a>
          by IBM
        </p>
        <p class="paragraph">
          <a target="_blank" rel="noopener noreferrer" href="https://www.coursera.org/account/accomplishments/verify/A3MPATJ8TYB7">
            <strong>Machine Learning</strong>
          </a>
          by Stanford University
        </p>
        <p class="paragraph">
          <a target="_blank" rel="noopener noreferrer" href="https://www.coursera.org/account/accomplishments/specialization/PT2AYCUE3XDY">
            <strong>GANS Specialization</strong>
          </a>
           by DeepLearning.AI
        </p>
        <p class="paragraph">
          <a target="_blank" rel="noopener noreferrer" href="https://www.coursera.org/account/accomplishments/specialization/N3RKPLZN6H2S">
            <strong>Deep Learning Specialization</strong>
          </a>
           by DeepLearning.AI</p>
        <p class="paragraph">
          <a target="_blank" rel="noopener noreferrer" href="https://www.coursera.org/account/accomplishments/professional-cert/ZMN9DR7WM9DU">
            <strong>Tensorflow Developer Certificate</strong>
          </a>
           by Deeplearning.AI</p>
        <p class="paragraph">
          <a target="_blank" rel="noopener noreferrer" href="https://www.coursera.org/account/accomplishments/verify/GBXT8QRUEZEX">
            <strong>AWS Cloud Essentials</strong>
          </a>
           by AWS</p>
        <p class="paragraph">
          <a target="_blank" rel="noopener noreferrer" href="https://www.coursera.org/account/accomplishments/specialization/YEUCB24L7XFP">
            <strong>Entrepreneurship Specialization</strong>
          </a>
           by Wharton University</p>
        <p class="paragraph">
          <a target="_blank" rel="noopener noreferrer" href="https://www.coursera.org/account/accomplishments/verify/VFZ3AXJFCQD6">
            <strong>Excel for business</strong>
          </a>
           by Macquarie University</p>
      </div>

      <!-- <hr class="solid">

      <div class="mt-4">
        <h3 class="custom-header">Skills</h3>
        <strong>Everything in tech</strong>
        <p class="paragraph">
          Give me enough time and I'll be great at it.
        </p>
      </div> -->
    </div>

    <!-- <hr class="solid">

    <div class="mt-4">
      <h3 class="custom-header">Working on</h3>
      <p class="paragraph">My interests are in <strong>AI Ethics</strong>, <strong>Climate Change</strong>,
        <strong>Biotechnology</strong>, <strong>Space Exploration</strong>, and <strong>Entrepreneurship</strong>.<br>
      These are tough topics I can make a dent in given my fortunate position.<br/>
    </div> -->

  </div>
</div>
