<!-- TODO: Add a few summary shortcuts: define purpose of site -->

<div id="landing" class="custom-container landing-page-background">
  <div>
    <h3 class="primary custom-header">Hi, this is Anri's Personal site</h3>
    <p class="paragraph">
      The purpose is to be useful by contributing in this small corner of the internet with what I learn.
    </p>
  </div>

  <hr class="solid">

  <div>
    <h3 class="css-selector-demo">Summary</h3>
    <strong class="paragraph">
      I am an Astrophage breeder and Rocky's best man at his interstellar wedding!
    </strong><br>
    <button type="button" class="btn btn-primary m-2 ml-5">
      <a (click)="gotoAbout()">Prove it</a>
    </button>

    <hr class="dotted">

    <h4 class="sub-heading">Project highlights</h4>
    <p>A few projects</p>
    <button type="button" class="btn btn-primary m-2 ml-5">
      <a (click)="gotoProjects()">Show me</a>
    </button>

    <hr class="dotted">

    <h4 class="sub-heading">Writing highlights</h4>
    <p>Some blogs</p>
    <button type="button" class="btn btn-primary m-2 ml-5">
      <a (click)="gotoBlogs()">This better be good</a>
    </button>
  </div>

  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  A message from Mars
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">#%&@ Earthling</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        You should be aware &^$$ have escaped and are en route to your planet. <br>
        All our forces are no match for yours, so Mars need your help for protection! <br>
        You are the only hope this galaxy has. Fare well...<br>
        <br>
        <br>
        <br>
        and tell Elon to hurry up.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Will do</button>
        <button type="button" class="btn btn-primary">Self destruct Earth</button>
      </div>
    </div>
  </div>
</div>
</div>

