<div class="custom-container">
  <h2>Projects Anri hasn't messed up</h2>

  <div>
    <h3 class="custom-header">Web/App development</h3>
    <p>Here are a few</p>
  </div>

  <div>
    <h3 class="custom-header">Game development</h3>
    <p>Here are a few</p>
  </div>

  <div>
    <h3 class="custom-header">Machine learning</h3>
    <p>Here are a few</p>
  </div>
</div>
<div class="container">
  <div class="row col-2">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">

      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card">
      <img src="..." class="card-img-top" alt="...">

      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

  </div>

</div>
