<div id="projects" class="custom-container">

  <div>
    <h3 class="custom-header">Web/App development</h3>

    <div *ngFor="let pr of Projects">
      <div class="project">
        <div class="project-content container">
          <h5>{{pr.title}}</h5>
          <div class="row">
            <div class="col">
              {{pr.imagePath}}
            </div>
            <div class="col">
              <strong>Date:</strong> {{pr.date}}<br>
              <hr class="dotted">
              <strong>Project Summary:</strong> {{pr.projectSummary}}.<br>
              <hr class="dotted">
              <strong>Skill Summary: </strong> {{pr.skillSummary}} <br>
              <!-- <hr class="dotted"> -->
              <!-- TODO: Blog, website, and github links -->
              <!-- <a [routerLink]="['/routePath', blog]" routerLinkActive="router-link-active" >Blog</a> -->
            </div>
          </div>
        </div>
      </div>

      <hr class="dashed">
    </div>


  </div>


  <hr class="solid">

  <div>
    <h3 class="custom-header">Game development</h3>

    <div *ngFor="let pr of Projects">
      <div class="project">
        <div class="project-content container">
          <h5>{{pr.title}}</h5>
          <div class="row">
            <div class="col">
              {{pr.imagePath}}
            </div>
            <div class="col">
              <strong>Date:</strong> {{pr.date}}<br>
              <hr class="dotted">
              <strong>Project Summary:</strong> {{pr.projectSummary}}.<br>
              <hr class="dotted">
              <strong>Skill Summary: </strong> {{pr.skillSummary}} <br>
              <!-- <hr class="dotted"> -->
              <!-- TODO: Blog, website, and github links -->
              <!-- <a [routerLink]="['/routePath', blog]" routerLinkActive="router-link-active" >Blog</a> -->
            </div>
          </div>
        </div>
      </div>

      <hr class="dashed">
    </div>

  </div>

  <div>
    <h3 class="custom-header">Machine learning</h3>

    <div *ngFor="let pr of Projects">
      <div class="project">
        <div class="project-content container">
          <h5>{{pr.title}}</h5>
          <div class="row">
            <div class="col">
              {{pr.imagePath}}
            </div>
            <div class="col">
              <strong>Date:</strong> {{pr.date}}<br>
              <hr class="dotted">
              <strong>Project Summary:</strong> {{pr.projectSummary}}.<br>
              <hr class="dotted">
              <strong>Skill Summary: </strong> {{pr.skillSummary}} <br>
              <!-- <hr class="dotted"> -->
              <!-- TODO: Blog, website, and github links -->
              <!-- <a [routerLink]="['/routePath', blog]" routerLinkActive="router-link-active" >Blog</a> -->
            </div>
          </div>
        </div>
      </div>

      <hr class="dashed">
    </div>
  </div>
</div>
